*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dropbox-primary:#b5d0e6;
    --dropbox-dark:#010001;
    --dropbox-ligh:#0060fe;
    --dropbox-portal:#65173d;
}

.container{
    width: 98%;
    max-width: 1920px;
    margin: auto;
}



.d-flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.space_between{
    justify-content: space-between;
}

.cal-4{
    width: calc((100%/12)*4 );
}

/* #region site_header */

#site_header{
    height: 50px;
    width: 100%;
    margin-bottom: 2px;
    padding: 10px 0px;
}

.top_left {
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}


.list_style{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
}

.style_head{
    text-decoration: none;
    color: black;
}

.button_head_style > a{
    background-color: var(--dropbox-ligh);
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    border-style: none;
    border-color: var(--dropbox-ligh);
}

/* #endregion site_header */


#site_main{
    width: 100%;
    height: 100%;
    max-height: 6350px;
}


/* #region work */

.work{
    background-color: var(--dropbox-primary);
    margin-bottom: 50px;
}

.container_2{
    width: 1200px;
    height: 750px;
    margin: auto;
}

h1{
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.space{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.left_top_site{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    width: 250px;
    height: 450px;
}

.propose{
    display: block;
    width:850px;
    padding-top: 40px;
}

/* #endregion work */

/* #region business */

.business{
    width: 1000px;
    max-width: 1920px;
    margin: auto;
    padding-top: 50px;
}

h2{
    font-size: 35px;
    font-weight: bold;
}

.radio{
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}



/* #endregion business */
    
.card{
    
    border-color: rgba(0, 0, 0, 0.11);
    padding: 0 px 2px 2px 2px;
    
}
    
.flex_grow{
    display: flex;
    flex-wrap: wrap;   
}
    

.professional{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-color: rgba(0, 0, 0, 0.11);
    
    
    
    
}

.single{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.11);
    text-align: center;
    padding: 8px;
    border: 2px 2px 2px 2px;
}

.team{
    width: 80%;
    text-align: center;
}

.azienda{
    width:80%
}
