* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
   
}

:root {
    --dropbox-primary: #b5d0e6;
    --dropbox-dark: #010001;
    --dropbox-ligh: #0060fe;
    --dropbox-portal: #65173d;
}


/* #region common rules */
.container {
    width: 97%;
    max-width: 1920px;
    margin: auto;
}

.container_2 {
    width: 62%;
    max-width: 1920px;
    ;
    margin: auto;
}

.container_3 {
    width: 1002px;
    max-width: 1920px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
    gap: 30px;
}

.flex_wrap {
    flex-wrap: wrap;
}

.space_between{
    justify-content: space-between;
}

h1 {
    font-size: 80px;
    padding-bottom: 50px;
    padding-top: 90px;
}

.cal-4{
    width: calc((100%/12)*4);
}

.cal-12{
    width: 100%;
    padding-top: 50px;
}

.cal-2{
    width: calc(100%/2);
}
/* #endregion common rules */

/* #region site_header */

#site_header {
    width: 1920px;
    height: auto;
    align-items: center;
    height: 60px;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.356);

    >nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.top_left>img {
    display: block;
    width: 25%;
    height: 25%;
    padding-right: 1rem;
}

.list_style {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    

    >li {
        font-size: 20px;
    }

}

li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px
}

.button_head_style {
    background-color: var(--dropbox-ligh);
    width: 90px;
    height: 30px;
    text-align: center;

    >a {
        text-decoration: none;
        color: white;
        font-size: 20px
    }
}


ul li ul{
    list-style: none;
    position: relative;
    height: auto;
    float: left;
    background-color: white;
    width: 160px;
    padding-bottom: 20px;
    display: none;
}

ul li:hover ul{
    position: absolute;
    display: block;
    cursor: pointer;
}

ul li ul li:hover{
    background-color: antiquewhite;
}

ul li ul li{
    position: relative;
    text-align: center;
    top: 20px; 
}


/* menu */


/* #endregion site_header */

/* #region main */

/* #region jumbo_section */

.jumbo {
    background-color: var(--dropbox-primary);
    height: 750px;
    margin-bottom: 100px;
    width: 1920px;
}

.left_jumbo {
    flex-direction: column;
    width: 30%;
    gap: 50px;

    >i {
        font-size: 40px;
    }

    >a {
        background-color: var(--dropbox-ligh);
        padding: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        margin-right: 80px;
    }
}

.right_jumbo {
    width: 60%;

    >img {
        display: block;
        width: 113%;
    }
}

/* #endregion jumbo_section */

/* #region business_section */

.radio {
    >h2 {
        padding-bottom: 20px;
    }
}

.plane_selection {
    display: flex;
    
    &>input {
        font-size: 1.2rem;
        padding-bottom: 3.5rem;
    }

    &>span {
        margin-right: 2.5rem;
    }
}

.offer_plane{
    gap: 30px;
    padding-top: 50px;
    
}

.card_plane{
    border: 1px solid rgba(0, 0, 0, 0.116);
    height: 950px;
}

.top_card{
   border-bottom:1px solid rgba(0, 0, 0, 0.116) ;
   padding: 10px 0;
   justify-content: center;

}

.bottom_card{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 30px;

    > .price{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
}

ul > li{
    padding-bottom: 15px;
}

li>i{
    padding-right: 10px;
}

.bottom_card_enterprise{
    padding: 60px 20px;
}

.left{
    width: 50%;
    >h2{
        padding-bottom: 15px;
    }
}


.right{
    width: 35%;
    margin-right: -80px;
    justify-self: flex-start;
    padding-top: 10px;
}


.test{
    > a{
        background-color: var(--dropbox-ligh);
        padding: 10px 30px;
        text-decoration: none;
        color: white;
    }
}
.solution{
    padding-top: 60px;
    padding-right: 10px;
    width: 70%;
}

.btn_plane{
    background-color: var(--dropbox-ligh);
    padding: 10px 0;
    text-align: center;
    margin: 30px 0;

    >a{
        text-decoration: none;
        color: white;
    }
}

.separate_plane{
    background-color: rgba(0, 0, 0, 0.253);
    height: 2px;
    margin: 40px 150px 40px 0px;
}

.point_plane{
    list-style: none;
}

.card_plane_enter{
    border: 1px solid rgba(0, 0, 0, 0.116);
}



/* #endregion business_section */

/* #region contact */


.contanitor_contact{
    margin-top:200px;
    gap: 5%;
    height: 750px;
}

.left_contact{
    width: 60%;

    > img{
        display: block;
        width: 100%;
    }
}

.right_contact{
    width: 35%;
    
    > ul{
        list-style: none;
        padding-top: 70px;
    }
}

li {
    > h2{
        font-size: 33px;
    }

}

li > button{
    padding: 8px 14px;
    border: 1px solid rgba(0, 0, 0, 0.342);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    margin-top: 20px;
    > a{
        text-decoration: none;
        color: #010001;
    }
}

/* #endregion contact */

/* #region operation */

.container_operation{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: -20px;
    margin-right: -20px;
}

.card_operation{
    padding-right: 30px;
    justify-content: center;
}

.drop{
    display: block;
    width: 100%;
}


.discovery{
    margin-right: 50px;

    > h2{
        font-size: 50px;
        margin-top: 200px;
        padding-bottom: 40px;
    }
}

/* #endregion operation */

/* #region designit */

.designit{
    width: 1920px;
    height: 640px;
    margin: auto;
    margin-top: 200px;
    
}

.left_designit,
.right_designit{
    width: 640px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;  
}

.des,
.arizona, 
.florida, 
.topps,
.world,
.hearst,
.lonely,
.outdoor
{
    > img{
        filter: invert(100%);
    }
}

.des{
    width: 320px;
    height: 320px;
    border: inset 10px greenyellow;
}

.partner_logo{
    display: block;
    width: 320px;
    height: 320px;
    padding: 70px;
}

.center_designit{
    width: 640px;
    height: 100%;
    padding: 120px 60px 60px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 239, 229);
    

    > img{
        display: block;
        width: 60%; 
    }
}

.separate_partner{
    background-color: rgba(214, 190, 190, 0.904);
    height: 2px;
    width: 30%;
    margin: 50px 0;
}

.designit_bottom{
    background-color: var(--dropbox-primary);
    height: 350px;
    width: 1920px;
}

.contenitor_des_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 145px 0;
    
    
}

.bottom_left_des{
    width: 50%;
    >h2{
        color: rgb(145, 3, 145);
        font-size: 30px;
    }
}

.bottom_right_des{
    > a{
        text-decoration: none;
        color: black;
        background-color:white;
        padding: 10px 40px;
    }

}

/* #endregion designit */

/* #region faq */
.faq{

    margin-top: 80px;
    margin-bottom: 80px;
}

.question{
    display: flex;
    flex-direction: column;

    >h2{
        padding-bottom: 40px;
    }
    
}

.faq_question_1{
    padding: 30px 0;
    border-top:1px solid rgba(0, 0, 0, 0.329) ;
    border-bottom:1px solid rgba(0, 0, 0, 0.329) ;

}
.faq_question_2,
.faq_question_3{
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);

}

/* #endregion faq */


/* #endregion main */


/* #region site_footer */
#site_footer{
    background-color: black;
    height: 570px;
    width: 100%;
    margin: auto;
}

.foot{
    gap:20px ;
}

.dropbox{
    width: 220px;
    
    color: white;

    >h4{
        padding: 80px 0 50px 0;
    }

    & > ul{
        list-style: none;
        padding-bottom: 40px;
    }
}
.line{
        background-color: rgba(214, 190, 190, 0.904);
        height: 2px;
        width: 50%;
        margin: 50px 0;
}

/* #endregion site_footer */